VITE_GOOGLE_MAPS_PUBLIC_API_KEY=
GOOGLE_MAPS_ROUTES_API_KEY=
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_SERVER_API_KEY=
VITE_ADSENSE_CLIENT_ID=ca-pub-5209828957209966
VITE_ADSENSE_TEST_MODE=false
VITE_DEFAULT_ORIGIN_LAT=43.529742
VITE_DEFAULT_ORIGIN_LNG=5.447427
VITE_DEFAULT_ORIGIN_LABEL=Aix-en-Provence
